@charset "UTF-8";
body,
h1, h2, h3, h4, h5, h6,
ul, ol, dl, dd,
p,
fieldset, legend {
    margin: 0;
    padding: 0;
}

body, input, textarea, select, button {
    font-size: 14px;
    font-family: NanumGothic, "나눔 고딕", Dotum, "돋움", sans-serif;
}

ul, ol {
    list-style: none;
}

table {
    border-collapse: collapse;
}

em {
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

fieldset {
    border: 0;
}